- title @character.name
- content_for :head do
  h2= @character.name

p#notice = notice

span
  = link_to @character.user.name, @character.user
  | &nbsp;играет&nbsp;в&nbsp;
  = @character.game.name

br
strong Основные характеристики
.well= markdown(@character.major_attr)
br
strong Дополнительные характеристики
.well= markdown(@character.minor_attr)
br
strong Описание
.well= markdown(@character.description)
br
strong Инвентарь
.well= markdown(@character.inventory)

- if @character.user == current_user
  = link_to 'Редактировать', edit_game_character_path(@game, @character)
  |  
= link_to 'Назад', game_path(@game)
