// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.characters {
  &.show {
    h2 small {
      font-size: 40%;
      margin-left: 1em;
      color: #aaa;
      a, a:hover, a:visited {
        color: #888;
      }
    }
  }
}