// Place all the styles related to the Chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.games {
  margin-bottom: 20px;
}

.greetings-text {
  margin-bottom: 40px;
}

.btn-sign-in, .btn-sign-up {
  margin-right: 20px;
}