// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room-header {
  margin-top: 0;
  margin-bottom: .5em;
  line-height: 1em;
}

#room-show {

  .sidebar {

    #players {
      margin-top: 1em;
      list-style: none;
      padding: 0;

      li {
        cursor: pointer;

        .player {
          color: #aaa;
        }
      }
    }
  }

  .form {
    #message {
      resize: none;
      height: 100px;
      width: 100%;
      border: 1px solid #aabbaa;
    }

    #send {
      height: 100px;
      width: 100px;
      padding: 10px; 
    }
  }

  #chat {
    max-width: 600px;
    height: 100%;

    .message {
      overflow: hidden;

      .info {
        display: inline;
        + p {
          display: inline;
        }

        .time {
          color: #aaa;
          font-size: 11px;
          display: inline-block;
          margin-right: 5px;
        }

        .name {
          color: #FF6A14;
        }
        .delimiter {
          display: inline-block;
          margin: 0 4px 0 2px;
        }
      }
    }
  }
}