$font-family-sans-serif: 'Segoe UI', 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-sans-serif-light: 'Segoe UI Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
$font-family-serif: Constantia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Consolas, Monaco, 'Courier New', Courier, monospace;
$font-size-base: 16px;